.avatar-image {
	text-align: left;
	padding-left: 20px;
}

.profile-name {
	text-align: left;
	font-weight: bold;
	font-size: large;
	color: cornflowerblue;
	padding-left: 150px;
}

.row {
	color: cornflowerblue;
	align: center;
	padding-left: 150px;
}

p, h1, h5, div {
	padding-left: 20px;
}