body{
	color: orange;
	background-color:palevioletred ;
}
.avatar-image {
	text-align: left;
	padding-left: 20px;
}

.profile-name {
	text-align: left;
	font-weight: bold;
	font-size: large;
	color: cornflowerblue;
	padding-left: 150px;
}

.row {
	color: cornflowerblue;
	align: center;
	padding-left: 150px;
}

h1, h2, h4, div {
	padding-left: 20px;
	text-align: center;
}

h1, h2, h4 {
	text-decoration: underline;
}

ul, ol, p {
	padding-left: 30px;
}

i {
	padding: 20px;
}

table {
	margin-left: auto;
	margin-right: auto;
}